/* Tipografia */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;900&display=swap');
/* Selector universal */
*{
    margin: 0;
    padding: 0;
}
/* Selector de etiqueta */
h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
/* Selector por id */
#word_one{
    font-size: 30px;
    color: blueviolet;
    font-weight: 900;
    text-transform: uppercase;
}
#list_options{
    border: 5px solid red;
    margin: 10px;
    border-radius: 10px;
}
/* Selector por clase */
.word_group{
    background-color: gray;
    color: #fff;
    margin: 10px;
}
/* Selector por atributo [*/
[disabled]{
    background-color: aqua;
}
/* Psudoclases */
.word_group:hover{
    background-color: yellow;
}
